Selector{
  property: bestValue, nextBestValue;
}
h1{
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

#email{
  font-family: sans-serif;
  font-size: 8px;
}

#quote{
  font-family: Helvetica;
  font-size: 16px;
}
