Selector{
  property: bestValue, nextBestValue;
}
h1{
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

#email{
  font-family: sans-serif;
  font-weight: lighter;
  border: 2px solid black;
}

#quote{
  font-family: Helvetica;
  font-size: 16px;
}
